.feed { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 1em;
    row-gap: 1.5em;
    margin-top: 1em;
} 

.card img {
    width: 100%;
    border-radius: 5px;
}

.card h2 { 
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: .5em 0;
}

.card h3 { 
    font-size: .9rem;
    font-weight: 600;
    color: #555;
    margin: .5em 00;
}

.card p { 
    font-size: .9rem;
}