/* scrolling issue fix later */

.sidebar { 
    background: #fff;
    /* border: 1px solid red; */
    width: 15%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 1.5%;
    padding-top: 80px;
    /* z-index: 10; check afterwards */
}

.shortcut-links img { 
    width: 1.125rem;
    margin-right: 1em;
}

.side-link { 
    display: flex;
    align-items: center;
    margin-bottom: 1.15em;
    flex-wrap: wrap;
    cursor: pointer;
}

.sidebar hr { 
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
}

.subscribed-list h3 { 
    font-size: .8rem;
    margin: 1.125em 0;
    color: #5a5a5a;
}

.subscribed-list img { 
    width: 1.5rem;
    border-radius: 50%;
    margin-right: 1.125em;
}




